@font-face {
  font-family: Bebas;
  src: url(./fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: Rossetti;
  src: url(./fonts/Rossetti\ W00\ Regular.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(./fonts/OpenSans-Variable.ttf);
}

body {
  font-family: OpenSans;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar */

/* width & height*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #12130f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e3e3e8;
}

/* Navbar active link styling */
.active {
  text-decoration: underline;
}
